@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/* Desktop CSS */
@media only screen and (min-width: 1025px){
    /* The Modal (background) */
    .makePost {
        display: block;
        position: fixed; /* Stay in place */
        z-index: 0; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content/Box */
    .makePost-content {
        background-color: var(--offwhite);
        border-radius: 20px;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 1px 10px 20px 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        height: 85%;
    }
    label{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        /*margin: auto;*/
        /*padding-left: 10px;*/
    }
    #success{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #0c6400;
        font-size: medium;
    }
    #failed{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: crimson;
    }
    #postForm {
        height: 100%;
        width: 70%;
        margin: auto 5%;
    }
    /*Field for title of post*/
    #post-Title input{
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        border-width: thin;
        height: 3vh;
        width: 60vw;
    }
    #post-Title{
        text-align: left;
    }
    /*Optional submission Field for summary of post*/
    #post-sum{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        border-radius: 5px;
    }
    #post-sum textarea {
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        height: 10vh;
        width: 70vw;
    }
    #post-details {
        text-align: left;
    }
    #post-details textarea {
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        height: 18vh;
        width: 70vw;
    }
    #postButton input{
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        height: 5vh;
        width: 10vw;
    }
    #upload-pics{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
    }
    #upload-pics input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }
    /* #post-img{
        width: 30%;
        height: 80%;
        border-radius: 3%;
        margin-top: 1vh;
        margin-left: 2.7vw;
    } */
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        line-height: 42px;
        font-size: 35px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .display-block {
        display: block;
    }
    #closeButton{
        margin-left: 90%;
    }
    .required {
        color: red;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }
    #privacy {
        text-align:  left;
    }
    #privacy label {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 900;
    }
    /* Can't figure out how to change font of option vals */
    /* .styled-select optgroup {
        font-family: 'Montserrat', sans-serif;
    } */
}
/* Tablet CSS */
@media only screen and (max-width: 1025px){
    /* The Modal (background) */
    .makePost {
        display: block;
        position: fixed; /* Stay in place */
        z-index: 0; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content/Box */
    .makePost-content {
        background-color: var(--offwhite);
        border-radius: 20px;
        margin: 7% auto; /* 15% from the top and centered */
        padding: 1px 10px 20px 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        height: 90%;
    }
    label{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        /*margin: auto;*/
        /*padding-left: 10px;*/
    }
    #success{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #0c6400;
    }
    #failed{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: crimson;
    }
    #postForm {
        height: 100%;
        width: 70%;
        margin: auto 5%;
    }
    /*Field for title of post*/
    #post-Title input{
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        border-width: thin;
        height: 4vh;
        width: 60vw;
    }
    #post-Title{
        text-align: left;
    }
    /*Optional submission Field for summary of post*/
    #post-sum{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        border-radius: 5px;
    }
    #post-sum textarea {
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        height: 12vh;
        width: 70vw;
    }
    #post-details {
        text-align: left;
    }
    #post-details textarea {
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        height: 25vh;
        width: 70vw;
    }
    #postButton input{
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        height: 5vh;
        width: 10vw;
    }
    #upload-pics{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
    }
    #upload-pics input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }
    /* #post-img{
        width: 30%;
        height: 80%;
        border-radius: 3%;
        margin-top: 1vh;
        margin-left: 2.7vw;
    } */
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        line-height: 42px;
        font-size: 35px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .display-block {
        display: block;
    }
    #closeButton{
        margin-left: 90%;
    }
    .required {
        color: red;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }
    #privacy {
        text-align:  left;
    }
    #privacy label {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 900;
    }
    /* select #privacy option{
        font-family: 'Montserrat', sans-serif;
    } */
}
/* Phone CSS */
@media only screen and (max-width: 600px){
    /* The Modal (background) */
    .makePost {
        display: block;
        position: fixed; /* Stay in place */
        z-index: 0; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    /* Modal Content/Box */
    .makePost-content {
        background-color: var(--offwhite);
        border-radius: 20px;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 1px 10px 20px 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        height: 90%;
    }
    label{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        /*margin: auto;*/
        /*padding-left: 10px;*/
    }
    #success{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: #0c6400;
    }
    #failed{
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
        color: crimson;
    }
    #postForm {
        height: 100%;
        width: 70%;
        margin: auto 5%;
    }
    /*Field for title of post*/
    #post-Title input{
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        border-width: thin;
        height: 5vh;
        width: 60vw;
    }
    #post-Title{
        text-align: left;
    }
    /*Optional submission Field for summary of post*/
    #post-sum{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        border-radius: 5px;
    }
    #post-sum textarea {
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        height: 8vh;
        width: 70vw;
    }
    #post-details {
        text-align: left;
    }
    #post-details textarea {
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border-radius: 5px;
        height: 23vh;
        width: 70vw;
    }
    #postButton input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        height: 5vh;
        width: 15vw;
    }
    #upload-pics{
        font-family: 'Montserrat', sans-serif;
        text-align: left;
    }
    #upload-pics input {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }
    /* #post-img{
        width: 30%;
        height: 80%;
        border-radius: 3%;
        margin-top: 1vh;
        margin-left: 2.7vw;
    } */
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        line-height: 42px;
        font-size: 35px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .display-block {
        display: block;
    }
    #closeButton{
        margin-left: 90%;
    }
    .required {
        color: red;
    }
    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }
    #privacy {
        text-align:  left;
    }
    #privacy label {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 900;
    }
    /* optgroup {
        font-family: 'Montserrat', sans-serif;
    } */
}

